.homeSlide {
  background-color: #303c30;
}

.bg {
  background-color: #efeeea;
}

.css-yh3h57-control {
  background-color: #303c30 !important;
}

.css-1yo1sn1-control {
  background-color: #303c30 !important;
}

.css-1grlbuz-option:hover {
  background-color: #303c30 !important;
}

.css-10auxoo-option {
  background-color: #303c30 !important;
}
